{
  "env": {
    "node": {
      "presets": [
        "es2015-node",
        "stage-0"
      ],
      "plugins": ["transform-async-to-generator"]
    },
    "browser": {
      "plugins": ["transform-runtime"],
      "presets": [
        "es2015",
        "stage-0"
      ]
    },
    "jsnext": {
      "presets": [
        "stage-0"
      ]
    }
  },
  "presets": [
    "es2015-node",
    "stage-0"
  ]
}
